@model Order
@{
}

<h2>Order Info</h2>

<div class="container">
    <div class="">
        <input asp-for="Id" type="hidden" value="" />
        <div>
            <strong>Menu:</strong> @Model.SelectedMenu.Name
        </div>
    </div>
    <div class="col-md-6 mt-4">
        <div>
            <strong>Ekstra Malzemeler:</strong>
            <ul>
                @foreach (var extra in Model.Extras)
                {
                    <li>@extra.Name</li>
                }
            </ul>
        </div>
        <div class="mt-2">
            <strong>Size:</strong> @Model.Size
        </div>
        <div class="mt-2">
            <strong>Amount:</strong> @Model.Amount
        </div>
        <div class="mt-2">
            <strong>Total Price:</strong> @(Model.TotalPrice.ToString("C2"))
        </div>
        <button type="button" class="btn btn-success mt-3 fw-bold" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Pay Order
        </button>
        <div class="mt-2">
            <a class="btn btn-warning fw-bold text-white" asp-action="UpdateOrder" asp-controller="Order" asp-route-id="@Model.Id">Update Order</a>
            <br />
            <a class="btn btn-danger fw-bold mt-2" asp-action="DeleteOrder" asp-controller="Order" asp-route-id="@Model.Id">Delete Order</a>
        </div>
    </div>
</div>

<form asp-action="OrderInfo" method="post">
    <input type="hidden" asp-for="Id" value="" />
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Payment Info</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @(Model.TotalPrice.ToString("C2")) has been paid.
                </div>
                <div class="modal-footer">
                    <button type="submit" data-bs-dismiss="modal" class="btn btn-success">OK</button>
                </div>
            </div>
        </div>
    </div>
</form>
